<!doctype html>
<html>
    <head>
	{% block head %}
	<script type='text/javascript'>
	function reload_page() {
	    location.reload();
	}
	setInterval("reload_page()", 300000);
	</script>
	<meta charset='utf-8'>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css?v=22">
	{% endblock %}
	<script type='text/javascript'>
	    function reload_page() {
		location.reload();
	    }
	    setInterval("reload_page()", 30000);
	</script>
    </head>
    <body>
    <header class="header">
        <nav class="navbar navbar-default navbar-monit">
	    <div class="container">
		<div class="main-menu">
		<ul class="nav navbar-nav hidden-xs">
		    <style>li { display: inline-block; padding: 10px;}</style>
		    <li><a href="/monitor/index">Главная</a></li>
		    <li><a href="/monitor/graph">Графики</a></li>
		    <li><a href="/monitor/mosaic">Мозаика</a></li>
		    <li><a href="/monitor/adapter">Адаптеры</a></li>
		    <li><a href="/monitor/log">Лог</a></li>
		</ul>
	    </div> 
	</div>
    </nav>
</header>
<div align="center">
<marquee allign="center" behavior="scroll" bgcolor="white" loop="-1" width="30%">
   <i align="center">
      <font color="blue">
        Last update : 
        <strong>
         <span id="time"></span>
        </strong>           
      </font>
   </i>
</marquee>
</div>
<script type='text/javascript'>
    var today = new Date();
    document.getElementById('time').innerHTML=today;
</script> 
<main class="main">
{% block main %}{% endblock %}
</main>
</body>
</html>